# SPDX-FileCopyrightText: 2026 Andrey Kotlyar <guitar0.app@gmail.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

version: 2

updates:
  - package-ecosystem: "pip"
    directory: "/"
    target-branch: "main"

    schedule:
      interval: "weekly"

    open-pull-requests-limit: 5
    rebase-strategy: "auto"

    labels:
      - "dependencies"
      - "python"

    commit-message:
      prefix: "chore(deps)"

    groups:
      minor-and-patch:
        update-types:
          - "minor"
          - "patch"

      dev-dependencies:
        dependency-type: "development"

  - package-ecosystem: "docker"
    directory: "/"
    target-branch: "main"
    schedule:
      interval: "weekly"

    labels:
      - "dependencies"
      - "docker"

    commit-message:
      prefix: "chore(deps)"

  - package-ecosystem: "github-actions"
    directory: "/"
    target-branch: "main"
    schedule:
      interval: "weekly"

    labels:
      - "dependencies"
      - "ci"

    commit-message:
      prefix: "chore(deps)"

    groups:
      github-actions:
        patterns: ["*"]
